.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
}
.swiper-slide {
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}
.swiper-slide .subtitle {
    font-size: 21px;
}
.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}
#swipe-img1{
    background-image: url("../img/imgn1.jpg");
}
#swipe-img2{
    background-image: url("../img/imgi1.jpg");
}
.swiper-slide {
    padding: 107px 60px;
}
.swiper-slide .subtitle {
    font-size: 25px;
}
.select{
    width: 100%;
    padding: 18px;
    background-color: #fff;
    font-size: 19px;
    color: rgba(70, 74, 76, 0.99);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;    
}
#arrow{
    font-size: 85px;
}

#SinResultados {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 25px;
  min-height: 125px;
  background-color: #f0b800;
  color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.close{
  color: white;
  text-shadow: 0 0 0;
  opacity: 1;
  font-size: 18px;
}
.adentro{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999;
}
.afuera{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
}
.alert > p + p {
  margin-top: -4px;
}
.alert p {
  color: #fff;
}

@media (max-width: 768px){
  .section-heading{
    font-size: 35px !important;
  }
  header.masthead .intro-text .intro-heading {
      font-size: 33px;
  }

}

footer ul.quicklinks {
    font-size: 65% !important;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: none; 
}